@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/lib/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/lib/nicepage.js" defer=""></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/nicepage.css" />
    <link rel="stylesheet" href="~/css/Почетна.css" />
    <link rel="stylesheet" href="~/css/mapaStyle.css" />
    <link rel="stylesheet" href="~/css/Мапа.css" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />

    <script src="~/js/nicepage.js" asp-append-version="true"></script>
    <script src="~/js/jquery.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/css/nicepage.css" />
    <link rel="stylesheet" href="~/css/Почетна.css" />
    <link rel="stylesheet" href="~/css/mapaStyle.css" />
    <link rel="stylesheet" href="~/css/Мапа.css" />
    <link rel="stylesheet" href="~/css/Банки.css" />
    <meta name="generator" content="Nicepage 4.2.6, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">
{
		@*"@context": "http://schema.org",
		"@type": "Organization",*@
		"name": ""

}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
</head>
<body class="u-body">
    <section class="u-clearfix u-grey-10 u-section-1" id="sec-98e5">
        <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-30">
                            <div class="u-layout-row">

                                <div class="u-container-style u-image u-layout-cell u-size-15 u-size-30-md u-image-3" src="" data-image-width="500" data-image-height="600">
                                    <div class="u-container-layout u-valign-middle u-container-layout-6">
                                        <a href="https://nlb.mk/" target="_blank">
                                            <img src="~/lib/unnamed.png" width="230" height="200" />
                                        </a>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-7">
                                    <div class="u-container-layout u-valign-middle u-container-layout-7">
                                        <h3 class="u-text u-text-7">НЛБ БАНКА</h3>

                                        <p class="u-text u-text-8">
                                            ​​Тел.: +389 46 251 360 <br />
                                            Адреса: Партизанска бб, <br />
                                            6000 Охрид <br />
                                        </p>
                                    </div>
                                </div>

                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-15 u-size-30-md u-image-4" src="" data-image-width="512" data-image-height="512">
                                    <div class="u-container-layout u-valign-middle u-container-layout-8">
                                        <a href="https://www.stb.com.mk/" target="_blank">
                                            <img src="~/lib/stopnska.jpg" width="230" height="200" />
                                        </a>

                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-7">
                                    <div class="u-container-layout u-valign-middle u-container-layout-7">
                                        <h3 class="u-text u-text-7">СТОПАНСКА БАНКА</h3>
                                        <p class="u-text u-text-8">
                                            ​​Тел.: +389 46 260 277 <br />
                                            Адреса: Кузман Јосифовски бр. 3, <br />
                                            6000 Охрид <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-7">
                                    <div class="u-container-layout u-valign-middle u-container-layout-7">
                                        <h4 class="u-text u-text-7">КОМЕРЦИЈАЛНА БАНКА</h4>
                                        <p class="u-text u-text-8">
                                            Тел.: +389 23 167 402 <br />
                                            Адреса: Партизанска број 24, <br />
                                            6000 Охрид <br />
                                        </p>
                                    </div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-size-15 u-size-30-md u-image-3" src="" data-image-width="900" data-image-height="900">
                                    <div class="u-container-layout u-valign-middle u-container-layout-6">
                                        <a href="https://kb.com.mk" target="_blank">
                                            <img src="~/lib/Meta-img3.png" width="230" height="230" />
                                        </a>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-7">
                                    <div class="u-container-layout u-valign-middle u-container-layout-7">
                                        <h3 class="u-text u-text-7">ШПАРКАСЕ БАНКА</h3>
                                        <p class="u-text u-text-8">
                                            Тел.: +389 46 231 166 <br />
                                            Адреса: Партизанска бр.1/1, <br />
                                            6000 Охрид <br />
                                        </p>
                                    </div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-15 u-size-30-md u-image-4" src="" data-image-width="512" data-image-height="512">
                                    <div class="u-container-layout u-valign-middle u-container-layout-8">
                                        <a href="https://sparkasse.mk/" target="_blank">
                                            <img src="~/lib/img_01.jpg" width="230" height="230" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-container-style u-image u-layout-cell u-size-15 u-size-30-md u-image-3" src="" data-image-width="900" data-image-height="900">
                                    <div class="u-container-layout u-valign-middle u-container-layout-6">
                                        <a href="https://www.ttk.com.mk/" target="_blank">
                                            <img src="~/lib/TTK-banka-LOGO-e1534940580880.png" width="200" height="180" />
                                        </a>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-7">
                                    <div class="u-container-layout u-valign-middle u-container-layout-7">
                                        <h3 class="u-text u-text-7">ТТК БАНКА</h3>
                                        <p class="u-text u-text-8">
                                            ​​Тел.: +389 46 231 897 <br />
                                            Адреса: Булевар Македонски Просветители ББ, <br />
                                            6000 Охрид <br />
                                        </p>
                                    </div>
                                </div>

                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-15 u-size-30-md u-image-4" src="" data-image-width="512" data-image-height="512">
                                    <div class="u-container-layout u-valign-middle u-container-layout-8">
                                        <a href="https://www.unibank.mk" target="_blank">
                                            <img src="~/lib/e8IfZ1j7Ub.jpg" width="230" height="230" />
                                        </a>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-7">
                                    <div class="u-container-layout u-valign-middle u-container-layout-7">
                                        <h3 class="u-text u-text-7">УНИ БАНКА</h3>
                                        <p class="u-text u-text-8">
                                            ​Тел.: +389 46 263 141 <br />
                                            Адреса: Булевар Македонски Просветители, <br />
                                            6000 Охрид <br />
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>